.product {
  border: 1px solid lightgray;
  border-radius: 10px;
}
.image-container {
  text-align: center;
  background-color: rgb(235, 204, 192);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.product img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.product-info {
  padding-left: 10px;
  line-height: 10px;
}
.product-detail {
  padding-left: 10px;
  line-height: 10px;
  margin-top: 60px;
}
.addToCart-btn {
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  border: none;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.addToCart-btn:hover {
  background-color: rgb(87, 84, 83);
}
